# Token de bot Discord (developers.discord.com)
DISCORD_TOKEN=ton_token_de_bot

# Canal Discord où les embeds seront envoyés
DISCORD_CHANNEL_ID=ton_id_de_canal

# Compte Gmail à surveiller
GMAIL_ACCOUNT=adresse.mail@gmail.com
